.calendar {
  max-width: 400px;
  min-width: 50px;
  margin: 0 auto;
  text-align: center;
  /* font-family: Arial, sans-serif; */
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day {
  position: relative;
  border: none;
  padding: 0;
  text-align: center;
  min-height: 35px;
}

.calendar-day:hover {
  background-color: #f0f0f0;
}

.calendar-day:nth-child(7n),
.calendar-day:nth-child(7n-1) {
  color: black;
}
.heart-icon-container {
  position: relative;
}

.heart-icon {
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(0%, 10%);
}

.day-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 576px) {
  .calendar {
    max-width: 600px;
  }
}
@media (max-width: 576px) {
  .calendar {
    max-width: 400px;
  }
}
@media (max-width: 420px) {
  .calendar {
    max-width: 300px;
    /* margin: 0 auto; */
  }
  /* .calendar {
    margin: 10px;
  } */
  .calendar-day {
    font-size: 4vw;
    min-height: 30px;
  }
  .heart-icon {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 300px) {
  .calendar {
    max-width: 300px;
  }
}
