@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Manrope:wght@300;400;500;700;800&family=Roboto:wght@300;400;500;700;900&family=Rubik+Pixels&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

@font-face {
  font-family: "MyCustomFont";
  src: url("/src/fonts/ofont.ru_Lastochka.ttf") format("woff2"),
    url("/src/fonts/ofont.ru_Lastochka.ttf") format("woff"); /* формат для более старых браузеров */
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-family: "Manrope", sans-serif;
  /* --main-family: "El Messiri", sans-serif; */
  --second-family: "Great Vibes", cursive;
  --third-family: "MyCustomFont", Arial, sans-serif;
  --fourth-family: "Cinzel", serif;
  --fifth-family: "Tangerine", cursive;
  --sixth-family: "Playfair Display SC", serif;
}

body {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--main-family);
}

.image_1 {
  width: 100%;
}

.сountdown {
  z-index: 10;
  white-space: nowrap;
  margin: 30vw 0 35vw 0;
}
.gradient-mask {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: visible;
  clip-path: inset(0 0 -300px 0);
}

.krai {
  position: absolute;
  width: 100%;
  bottom: -0%;
  left: 0;
  transform: rotate(180deg);
}

.language-buttons {
  display: flex;
  font-size: 4vw;
  bottom: 85%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  position: absolute;
  justify-content: space-around;
  margin-bottom: 20px;
  z-index: 15;
}

.language {
  padding: 2vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #6495ed;
}

.language.selected {
  color: #002f55;
}

.name {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 80%;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  gap: 1rem;
}

.name span {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 12vw;
  z-index: 10;
  color: white;
}

.ring {
  position: absolute;
  bottom: 12%;
  left: 95%;
  height: 20vw;
  width: 10vw;
}
.music {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* цветы */
.flower_1 {
  position: absolute;
  top: -8%;
  left: 0%;
  z-index: 10;
  transform: rotate(120deg);
}
.flower_1_second {
  top: 0%;
  left: 2%;
  transform: rotate(220deg);
  z-index: 0;
}

.flower_1_third {
  top: -5%;
  left: -11%;
  transform: rotate(75deg);
  z-index: 10;
}
.flower_1_fourth {
  top: -7%;
  left: 17%;
  transform: rotate(120deg);
  z-index: 5;
}
.flower_1_fifth {
  top: 7%;
  left: 0%;
  transform: rotate(110deg);
  z-index: 0;
}
.flower_1_sixth {
  top: 9%;
  left: -10%;
  transform: rotate(100deg);
  z-index: 11;
}
.flower_1_seventh {
  top: 18%;
  left: -15%;
  transform: rotate(75deg);
  z-index: 0;
}
.flower_1_eighth {
  top: -14%;
  left: 28%;
  transform: rotate(75deg);
  z-index: 0;
}

.flower_down {
  overflow-x: hidden !important;
  overflow-y: visible !important;
}
.flowerWite_main {
  position: absolute;
  top: 76%;
  left: 84%;
  transform: rotate(-90deg);
  z-index: 6;
}
.flowerWite_main_2 {
  top: 82%;
  left: 73%;
  z-index: 5;
  transform: rotate(-90deg);
}
.flowerWite_main_3 {
  top: 90%;
  left: 85%;
}
.flowerWite_main_4 {
  top: 100%;
  left: 84%;
  z-index: 0;
}
.flowerWite_main_5 {
  top: 110%;
  left: 85%;
  z-index: 0;
}
/*  */
.tetx_1,
.tetx_2 {
  text-align: center;
  font-weight: 400;
  font-size: 4vw;
  margin: 0 10vw 0 10vw;
  color: #002f55;
}
.tetx_1 {
  font-size: 7vw;
  color: #6495ed;
  font-weight: 400;
  margin: 15vw 0 5vw 0;
  white-space: nowrap;
}

.date {
  margin: 20vw 0 10vw 0;
  text-align: center;
  color: #6495ed;
  font-weight: 400;
  font-size: 7vw;
}

.image_2_block {
  position: relative;
  margin: 10vh 0 20vw 0;
}
.image_2 {
  width: 100%;
}
.krai_2 {
  position: absolute;
  width: 100%;
  bottom: 87%;
  z-index: 1;
}
.krai_3 {
  position: absolute;
  width: 100%;
  bottom: 0%;
  z-index: 1;
  /* transform: rotate(180deg); */
}
/* .adress_block {
  background-color: #6495ed;
} */
.time {
  text-align: center;
}
.start {
  font-weight: 400;
  margin: 0;
  font-size: 7vw;
}

.adress_block {
  position: relative;
  overflow: visible;
  clip-path: inset(-300px 0 -300px 0);
  z-index: 10;
}

.flower_adress {
  position: absolute;
  top: -25%;
  left: -10%;
  z-index: 10;
}
.flower_adress_2 {
  top: -15%;
  left: -12%;
  z-index: 0;
  transform: rotate(90deg);
}
.flower_adress_3 {
  top: 32%;
  left: 78%;
  z-index: 5;
  transform: rotate(-75deg);
}
.flower_adress_4 {
  top: 48%;
  left: 80%;
  z-index: 5;
  transform: rotate(-90deg);
}
.flower_adress_5 {
  top: 58%;
  left: 82%;
  z-index: 5;
  transform: rotate(-45deg);
}

.flower_adress_6 {
  top: 85%;
  left: 85%;
  z-index: 2;
  transform: rotate(-120deg);
}
.flower_adress_7 {
  top: 72%;
  left: 82%;
  z-index: 0;
  transform: rotate(30deg);
}
.flower_adress_8 {
  top: 100%;
  left: 80%;
  z-index: 1;
  transform: rotate(-120deg);
}
.flower_adress_9 {
  top: 110%;
  left: 89%;
  z-index: 0;
  transform: rotate(-120deg);
}
.flower_adress_10 {
  top: 17%;
  left: 87%;
  z-index: 0;
  transform: rotate(-120deg);
}

.karta_btn {
  width: 55%;
  height: 10vw;
  background: linear-gradient(
    135deg,
    rgba(100, 149, 237, 0.4) 0%,
    /* насыщенный угол */ rgba(100, 149, 237, 0.2) 25%,
    /* мягче */ rgba(100, 149, 237, 0.1) 50%,
    /* почти прозрачный */ rgba(100, 149, 237, 0.25) 75%,
    /* снова насыщение */ rgba(100, 149, 237, 0.05) 100% /* прозрачный край */
  );
  border: 1px solid rgba(100, 149, 237, 0.3);
  border-radius: 3vw;
  color: #002f55;
  /* font-weight: 700; */
  font-weight: 300;
  font-size: 5vw;
  font-family: var(--main-family);
  margin: 7vw 0 10vw 0;
}
/* .lepestki {
  position: absolute;
  width: 100%;
  z-index: -1;
  bottom: -20%;
} */

.times {
  font-weight: 300;
  font-size: 7vw;
  /* margin: 5vw 0; */
}

.adress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* .adress h2 {
  color: #c5b396;
  font-size: 5vw;
  font-weight: 200;
  margin: 0;
} */

.image_3_container {
  position: relative;
  margin: 20vw 0 10vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image_3 {
  width: 100%;

  /* margin: 3vh 0 3vh 0; */
}

.image_3_krai {
  position: absolute;
  width: 100%;
  bottom: 95%;
  left: 0;
  transform: rotate(180deg);
}
.image_3_krai_2 {
  position: absolute;
  width: 100%;
  bottom: 0%;
  left: 0;
  /* transform: rotate(180deg); */
}
.name_res {
  font-family: var(--second-family);
  color: #6495ed;
  font-weight: 300;
  font-size: 10vw;
  margin: 5vw 0;
}
.aadress_res {
  font-weight: 200;
  font-size: 5vw;
  margin: 0 3vw 0 3vw;
}
.restourant {
  width: 100%;
}

.flower_bottom_1 {
  position: absolute;
  top: -20%;
  left: -15%;
  z-index: 6;
  transform: rotate(-75deg);
}
.flower_bottom_2 {
  position: absolute;
  top: -50%;
  left: -5%;
  z-index: 5;
  transform: rotate(120deg);
}
.flower_bottom_3 {
  position: absolute;
  top: 80%;
  left: -20%;
  z-index: 5;
  transform: rotate(160deg);
}
.flower_bottom_4 {
  position: absolute;
  top: 40%;
  left: -15%;
  z-index: 5;
  transform: rotate(160deg);
}
.flower_bottom_5 {
  position: absolute;
  top: -95%;
  left: -18%;
  z-index: 4;
  transform: rotate(160deg);
}

.flower_bottom_6 {
  position: absolute;
  top: -307%;
  left: -18%;
  z-index: 4;
  transform: rotate(160deg);
}
.flower_bottom_7 {
  position: absolute;
  top: -350%;
  left: -10%;
  z-index: 4;
  transform: rotate(120deg);
}
.flower_bottom_8 {
  position: absolute;
  top: -250%;
  left: 80%;
  z-index: 4;
  transform: rotate(160deg);
}
.flower_bottom_9 {
  position: absolute;
  top: -200%;
  left: 82%;
  z-index: 4;
  transform: rotate(-120deg);
}
.flower_bottom_10 {
  position: absolute;
  top: -300%;
  left: 87%;
  z-index: 4;
  transform: rotate(-90deg);
}
.answer_form_container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 5vw 0;
  text-align: center;
}
.anser_form_h2 {
  font-size: 7vw;
  font-weight: 200;
  margin: 20vw 0 10vw 0;
  color: #6495ed;
}
.anser_form_h2_alc {
  text-align: start;
  /* width: 100%; */
  font-size: 7vw;
  font-weight: 200;
  margin: 4vw 0;
  color: #6495ed;
}
.answer_form_container p {
  font-size: 4vw;
}
.answer_form_container label {
  font-size: 4.4vw;
  font-weight: 200;
}
.main-input {
  height: 10vw;
  width: 97%;
  border: 2px solid #6495ed;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 2vw;
  border-radius: 3vw;
  margin: 0 0 6vw 0;
}
.radio-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;
}

.radio-label {
  margin: 0.5vw 0;
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  /* font-size: 6vw; */
  white-space: nowrap;
  color: #002f55; /* Цвет текста меток */
}

.radio-input {
  margin-right: 5px; /* Расстояние между радио кнопками и текстом */
  appearance: none; /* Отключаем стандартные стили браузера для радио кнопок */
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px; /* Размер кастомного кружка */
  height: 16px; /* Размер кастомного кружка */
  border: 2px solid #6495ed; /* Цвет рамки для не выбранных радио кнопок */
  border-radius: 50%; /* Круглый кружок */
  outline: none; /* Убираем контур фокуса */
  cursor: pointer; /* Указатель при наведении */
}

.radio-input:checked {
  background-color: #6495ed; /* Цвет фона для выбранных радио кнопок */
  border-color: #6495ed; /* Цвет рамки для выбранных радио кнопок */
}

.radio-input:checked + .radio-label {
  color: #6495ed; /* Цвет текста метки для выбранных радио кнопок */
}
.btn-container {
  display: flex;
  justify-content: center;
}
.btn {
  width: 60%;
  height: 10vw;
  background: linear-gradient(
    135deg,
    rgba(100, 149, 237, 0.4) 0%,
    /* насыщенный угол */ rgba(100, 149, 237, 0.2) 25%,
    /* мягче */ rgba(100, 149, 237, 0.1) 50%,
    /* почти прозрачный */ rgba(100, 149, 237, 0.25) 75%,
    /* снова насыщение */ rgba(100, 149, 237, 0.05) 100% /* прозрачный край */
  );
  border: 1px solid rgba(100, 149, 237, 0.3);
  border-radius: 3vw;
  color: #002f55;
  /* font-weight: 700; */
  font-weight: 300;
  font-size: 5.5vw;
  font-family: var(--main-family);
  margin: 7vw 0 10vw 0;
}

/* Добавленные стили для анимации появления текста при прокрутке */
.animate-on-scroll {
  opacity: 0; /* Начинаем с нулевой прозрачности */
  transform: translateY(
    20px
  ); /* Сдвигаем текст вниз, чтобы он появился сверху */
  transition: opacity 1s ease, transform 1s ease; /* Плавная анимация появления */
}

/* Когда React готов */
body.loaded .animate-on-scroll {
  opacity: 1;
  transform: translateY(0);
}
.animate-on-scroll.show {
  opacity: 1; /* При появлении текста устанавливаем полную прозрачность */
  transform: translateY(0); /* Возвращаем текст в исходное положение */
}
.quote {
  color: #6495ed;
  font-weight: 200;
  text-align: center;
  font-size: 5vw;
  /* font-family: var(--second-family); */
  margin: 0 10vw 10vw;
}

.arrow_parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Высота контейнера для демонстрации */
  position: relative; /* Добавляем позиционирование для анимации */

  overflow: hidden;
}
.arrow {
  width: 6vw;
  height: 10vw;
  /* transform: rotate(90deg); */
  z-index: 10;
  position: absolute;
  top: 0; /* Начальная позиция - сверху */
  animation: moveDown 3s infinite; /* Добавляем анимацию */
}

.drink_preference {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
}

.radio-input_2 {
  appearance: none; /* убираем стандартный вид */
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #6495ed;
  margin: 0 5px 0 0;
  border-radius: 20%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.radio-input_2:checked {
  background-color: #6495ed; /* Цвет фона для выбранных радио кнопок */
  border-color: #6495ed; /* Цвет рамки для выбранных радио кнопок */
}

.radio-input_2:checked::after {
  content: "✔";
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}
@keyframes moveDown {
  0% {
    top: 0; /* Начинаем сверху */
    transform: translateY(0) rotate(90deg); /* Начальное положение и поворот */
  }
  100% {
    top: 100%; /* Заканчиваем внизу */
    transform: translateY(-100%) rotate(90deg); /* Центрируем элемент */
  }
}
/* @media (mim-width: 600px) {
  .answer_form_container p {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .answer_form_container p {
    font-size: 12px;
  }
} */
